{% extends 'base.html.twig' %}

{% block body %}
    <div id="wrapper">
        <div id="container">
            <div id="root">
				<h1>Racquets</h1>
                <table class="table table-hover table-condensed table-stripped">
                    <thead>
                    <tr>
                        <th>Year</th>
                        <th>Model</th>
                        <th><abbr title="Stringing pattern">SP</abbr></th>
                        <th><abbr title="Strings">Strings</abbr></th>
                        <th><abbr title="Dampener">Damp.</abbr></th>
                        <th><abbr title="Static weight">W</abbr></th>
                        <th><abbr title="Length">L</abbr></th>
                        <th><abbr title="Head size">HS</abbr></th>
                        <th><abbr title="Beam width">BW</abbr></th>
                        <th><abbr title="Stiffness">St.</abbr></th>
                        <th><abbr title="Balance">Bal.</abbr></th>
                        <th><abbr title="Distance to top string">DttS</abbr></th>
                        <th><abbr title="Swing time">ST</abbr></th>
                        <th><abbr title="Computed swing weight">= SW</abbr></th>
                        <th><abbr title="Computed MgR/I">= MgR/I</abbr></th>
                        <th><abbr title="Computed MR²">= MR²</abbr></th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for racquet in racquets %}
                    <tr>
                        <td>{{ racquet.model ? racquet.model.releaseYear : '' }}</td>
                        <td>
                            <a href="/front/racquets/{{ racquet.id }}">
                                {{ racquet.model ? racquet.model.brand.name : '' }} {{ racquet.name }}
                            </a>
                        </td>
                        <td>{{ racquet.stringingPattern }}</td>
                        <td>{{ racquet.string ? racquet.string.name : '' }}</td>
                        <td>{{ racquet.dampenerName }}</td>
                        <td>{{ racquet.staticWeight }}</td>
                        <td>{{ racquet.length }}</td>
                        <td>{{ (racquet.headSize * 0.155)|number_format }}</td>
                        <td>{{ racquet.beamWidth }}</td>
                        <td>{{ racquet.stiffness }}</td>
                        <td>{{ racquet.balance }}</td>
                        <td>{{ racquet.distanceToTopString }}</td>
                        <td>{{ racquet.swingTime }}</td>
                        <td>{{ racquet.computeSwingWeight }}</td>
                        <td>{{ racquet.computeMGRI }}</td>
                        <td>{{ racquet.computeMR2 }}</td>
                    </tr>
                    {% endfor %}
                    </tbody>
                </table>
			</div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    <script type="application/javascript" src="{{ asset('static/bundle.js') }}"></script>
{% endblock %}
